header {
    font-family: helvetica;
}

body {
    width: 100vw;
    margin: 0%;
}

.wisercreative-logo {
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 150px;
}

.wisercreative-footerlogo {
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 150px;
}

h1 {
    padding-top: 0.1em;
    font-size: 1em;
    letter-spacing: -0.3px;
    font-weight: normal;
}

footer {
    padding: 0px;
    height: 20em;
    width: 100%;
    background-color: black;
}